body {
    display: flex;
    background-color: rgba(224, 31, 31, 0.53);
    flex-direction: column;
    align-items: center;
}
.first {
    background-color: olive;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 10px 20px 10px;
	box-shadow: 2px 3px 5px 2px black;
}
.second {
    background-color: beige;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 10px 20px 10px;
	box-shadow: 2px 3px 5px 2px black;
}
.third {
    background-color: yellow;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 10px 20px 10px;
	box-shadow: 2px 3px 5px 2px black;
}
.fourth {
	background-color: white;
	width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 10px 20px 10px;
	box-shadow: 2px 3px 5px 2px black;
	/* То, что находится между слешами со звездочками - комментарии, редактор их за код не принимает. Они могут быть использованы для объяснение какого-то куска кода, чтобы напарник лучше понимал происходящее. Когда прочитаешь. попробуй сделать такой комментарий в любом месте кода, но только в файле .css, в .html другие символы используются для комментариев. И теперь загляни в index.html */
	animation: spin 4s infinite ease-out;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
