body {
    display: flex;
    background-color: rgba(47, 217, 178, 0.17);
    flex-direction: column;
    align-items: center;
}
.first {
    background-color: olive;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 10px 20px 10px;
	box-shadow: 2px 3px 5px 2px black;
	animation: vanish 7s infinite ease;
}
@keyframes vanish {
	0% 	 {opacity: 1}
	50%  {opacity: 0}
	100% {opacity: 1}
}
.second {
    background-color: beige;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 10px 20px 10px;
	box-shadow: 2px 3px 5px 2px black;
	animation: pulse 1.4s infinite ease;
}
@keyframes pulse {
	0% {transform: scale(1)}
	50% {transform: scale(1.2)}
	100% {transform: scale(1)}
}
.third {
    background-color: yellow;
    width: 150px;
	height: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 20px 10px 20px 10px;
	box-shadow: 3px 3px 15px 2px black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: change 10s infinite ease-out;
}
@keyframes change {
	0%   {background-color: yellow}
	25%  {background-color: lightpink}
	50%  {background-color: lightblue}
	75%  {background-color: greenyellow}
	100% {background-color: yellow}
}
.third .line {
	border: 1px dotted black;
	width: 110px;
	animation: rotate 5s infinite linear;
}
@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(-360deg); }
}

/* для каждого элемента написана своя анимация. Анимация пишется с помощью ключевых слов 
	@keyframes "name of action"
и название анимации должно полностью описывать то что она делает
*/
.fourth {
	background-color: white;
	width: 150px;
    border: 1px solid black;
    text-align: center;
    margin: 50px 10px 20px 10px;
	box-shadow: 2px 3px 5px 2px black;
	/* То, что находится между слешами со звездочками - комментарии, редактор их за код не принимает. Они могут быть использованы для объяснение какого-то куска кода, чтобы напарник лучше понимал происходящее. Когда прочитаешь. попробуй сделать такой комментарий в любом месте кода, но только в файле .css, в .html другие символы используются для комментариев. И теперь загляни в index.html */
	animation: spin 4s infinite ease-out;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
